*.user

build/

# Visual Studio
compiler-cpp/.vs
compiler-cpp/Debug
compiler-cpp/Release
compiler-cpp/x64
compiler-cpp/compileData*
compiler-cpp/f-lang/Debug
compiler-cpp/f-lang/Release
compiler-cpp/f-lang/x64
compiler-cpp/f-lang_lib/Debug
compiler-cpp/f-lang_lib/Release
compiler-cpp/f-lang_lib/x64
compiler-cpp/tests/Debug
compiler-cpp/tests/Release
compiler-cpp/tests/x64

# QtCreator
build-*

cl.log
cl.error
*.dot
AST.png
output.cpp
output.obj
output.exe
scope.png

compiler-cpp/compileData.scor*
