[submodule "compiler-cpp/third-party/tracy"]
	path = compiler-cpp/third-party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "compiler-cpp/third-party/WindowsHModular"]
	path = compiler-cpp/third-party/WindowsHModular
	url = https://github.com/Leandros/WindowsHModular.git
[submodule "research/PE-file-checker"]
	path = research/PE-file-checker
	url = https://github.com/VinnySmallUtilities/PE-file-checker.git
	branch = master
